<div class="container title">
    <div class="row">
        <%= link_to album_photos_path(@album.id) do %>
            <div class="six columns center-text left">
                <h4 class="lower">album</h2>
            </div>
            <div class="six columns center-text right">
                <h4 class="upper"><%= @album.title %></h2>
            </div>
        <% end %>
    </div>
</div>

<% @photos.each do |photo| %>
    <div class="container polaroid">
        <%= link_to photo do %>
        <div class="row">
            <div class="twelve columns polaroid-bg" style="background-image: url('<%= image_path ("polaroid-bg/" + photo.filename) %>');"></div>
        </div>
        <div class="row gray">
            <div class="six columns center-text left"><p class="lower">author</p></div>
            <div class="six columns center-text right"><p class="upper"><%= photo.author %></p></div>
        </div>
        <div class="row gray">
            <div class="six columns center-text left"><p class="lower">date</p></div>
            <div class="six columns center-text right"><p class="upper"><%= photo.date_taken.strftime('%b-%d-%y %H:%M') %></p></div>
        </div>
        <div class="row">
            <div class="six columns center-text left"><p class="lower">description</p></div>
            <div class="six columns center-text right"><p class="upper"><%= photo.description %></p></div>
        </div>
        <% end %>
    </div>
<% end %>