<!DOCTYPE html>
<html>
<head>
  <title>Photo Prime</title>
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <!-- JAVASCRIPT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <%= favicon_link_tag 'favicon.png' %>
  
</head>
<body>

<div class="container title">
    <div class="row split-text">
        <%= link_to root_path do %>
            <div class="six columns"><h2 class="lower center-text left">Photo</h2></div>
            <div class="six columns"><h2 class="upper center-text right">Prime</h2></div>
        <% end %>
    </div>
</div>

<!-- added this in so that i could take out the repetitveness of having it in all views.  take out here, have to add back to all views.  but allows to scale without a sidebar -->
<%= render "layouts/sidebar" %>

<% if content_for?(:sidebar) %>
    <div class="container content">
        <div class="row">
            <div class="eight columns main">
                <%= yield %>
            </div>
            <div class="four columns sidebar">
                <%= yield :sidebar %>
            </div>
        </div>
    </div>
<% else %>
    <div class="container content">
        <div class="row">
            <div class="twelve columns main">
                <%= yield %>
            </div>
        </div>
    </div>
<% end %>

</body>
</html>
